{% extends 'genericos/base.html' %}

{% block title_head %}
<title>Jugadores</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Listado de Jugadores</h1>
{% endblock h1_header %}


{% block contenido %}
<p>
    <form action={% url 'inicio:listar_jugadores' %}>
        {{formulario}}
        <button>Buscar</button>
    </form>
</p>

{% if jugadores %}
    {% for jugador in jugadores %}
    <li>
        Nombre: {{jugador.nombre}} - Edad: {{jugador.edad}} - Fecha de nacimiento: {{jugador.fecha_nacimiento}} - Posición: {{jugador.posicion}}
    </li>
    {% endfor %}

{% else %}
    <h2>No hay datos sobre los jugadores en estos momentos.</h2>
{% endif %}
{% endblock contenido %}
